POSTGRES_USER="ismail"
POSTGRES_PASSWORD="mypassword"
POSTGRES_DB="luxlink_prod_db"
DATABASE_PORT=5433

NUXT_SESSION_PASSWORD="change_me_in_prod_at_least_32_characters"

NODE_TLS_REJECT_UNAUTHORIZED=0

NUXT_OAUTH_GOOGLE_CLIENT_ID="your_google_client_id"
NUXT_OAUTH_GOOGLE_CLIENT_SECRET="your_google_client_secret"
